In [2]:
#1.intro
tup = (1,3.14,"pavan",True)
print(tup)

(1, 3.14, 'pavan', True)

In [3]:
#2.printing element
tup = (1,2,3,4)

print(tup[0])
print(tup[-1])

1
4

In [4]:
#3.unpacking

tup = (1,2,3)

a,b,c = tup
print(a,b,c)

1 2 3

In [8]:
#4.value existing
tup = (1,2,3,4)

v = 3


print(v in tup)

True

In [9]:
#5. slicing tuple
tup = (0,1,2,3,4)

s_tup = tup[1:4]
print(s_tup)

(1, 2, 3)

In [11]:
#6.length of tuple
tup = (1,2,3,4,5)
l = len(tup)

print(l)

5

In [12]:
#7.iterate tuple
tup = ("apple","banana","orange")

for char in tup:
    print(char)

apple
banana
orange

In [13]:
#8.joining tuples
tup1 = (1,2,3,4)
tup2 = (5,6,7,8)

tup = tup1+tup2

print(tup)

(1, 2, 3, 4, 5, 6, 7, 8)

In [14]:
#9.repeat tuple elements

tup = (5,6)

print(tup*5)

(5, 6, 5, 6, 5, 6, 5, 6, 5, 6)

In [15]:
#10.max and min

tup = (1,2,55,2,4,0)
print(min(tup))
print(max(tup))

0
55

In [17]:
#11. type convertion

tup = (1,2,3,4)
print(tup,type(tup))
lst = list(tup)
print(lst,type(lst))

(1, 2, 3, 4) <class 'tuple'>
[1, 2, 3, 4] <class 'list'>

In [20]:
#12. Add element to tuple
tup = (1,2,3)
tup = list(tup)
tup.append(4)
tup = tuple(tup)
print(tup)

(1, 2, 3, 4)

In [21]:
#13. Remove element
tup = (1,2,3)
tup = list(tup)
tup.remove(2)
tup = tuple(tup)
print(tup)

(1, 3)

In [27]:
#14. string to tuple
tup = ('p','y','t','h','o','n')
st = ''.join(tup)
print(st)
st = tuple(st)
print(st)

python
('p', 'y', 't', 'h', 'o', 'n')

In [32]:
#15. string to int in a tuple

tup = (("11","12"),("33","44"))
tup1 = tuple(tuple(int(x) for x in inner)for inner in tup)
print(tup1)

((11, 12), (33, 44))

In [33]:
#16. index finding

tup = ("apple","bat","dog")
print(tup.index("dog"))

2

In [34]:
#17. count values

tup = (1,2,3,4,1,2,1)
print(tup.count(1))

3

In [35]:
#18. reverse the order of tuple

tup = [1,2,3,4,5,6]

rev = tup[::-1]
print(rev)

[6, 5, 4, 3, 2, 1]

In [38]:
#19. spotting duplicates

tup = (1,2,3,1,2,3,4,1,2)

seen = set()
dupl = set()

for i in tup:
    if i in seen:
        dupl.add(i)
    seen.add(i)
    
print(dupl)
duplocate exist ro not

{1, 2, 3}

In [41]:
#20. duplicate exist or not

tup = (1,2,3,4,5,6,7,8)

seen = set()
dupl = set()

for i in tup:
    if i in seen:
        dupl.add(i)
    seen.add(i)
    
print(len(dupl)==0)

True

In [43]:
#21.sort in ascending order
def sort_age(tup):
    return sorted(tup,key = lambda x: x[-1])

tup =  [("Alice", 25), ("Bob", 20), ("Eve", 22)]
print(sort_age(tup))

[('Bob', 20), ('Eve', 22), ('Alice', 25)]

In [45]:
#22. sort tuples through digits

tup =  [(1, 2), (10, 11), (3, 44)]

def total_digits(t):
    return sum(len(str(x)) for x in t)

sorted_lst = sorted(tup, key=total_digits)

print(sorted_lst)

[(1, 2), (3, 44), (10, 11)]

In [54]:
#23. change last val in list of tuples

tup = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]

val = 100

for i in range(len(tup)):
    t = list(tup[i])
    t[-1] = val
    tup[i]= tuple(t)
    
print(tup)

[(10, 20, 100), (40, 50, 100), (70, 80, 100)]

In [59]:
#24.remove empty tuples from the list

lst =  [(), (), ('a', 'b'), ('c',)]
n = len(lst)
i=0
while i<n:
    if not lst[i]:
        lst.remove(lst[i])
        n-=1
    else:
        i+=1
        
print(lst)

[('a', 'b'), ('c',)]

In [73]:
#25. count tuples in list

lst = [(3, 6), (9, 12, 15), (4, 8),(3,6,9),(9,18,6)]
k = 3

count = 0

div = 0

count = sum(1 for t in lst if all(x%3==0 for x in t))
        
print(count)

4

In [71]:
#26.all numbers positive 

lst = [(1, 2), (-3, 4), (5, 6)]
res = [t for t in lst if all(x>0 for x in t)]
    
        
print(res)

[(1, 2), (5, 6)]

In [75]:
#27. aum of tuples in the list

lst = [(1, 2), (2, 3), (3, 4)]

sum_lst = [sum(t) for t in lst]
print(sum_lst)

[3, 5, 7]

In [76]:
#28. unzippind list
lst = [(1, 'a'), (2, 'b'), (3, 'c')]

list1 = []
list2 = []

for a, b in lst:
    list1.append(a)
    list2.append(b)

print(list1)
print(list2)

[1, 2, 3]
['a', 'b', 'c']

In [78]:
#29. Flatten tuple
t = ((1, 2), (3, 4), (5, 6))

flat = ()
for sub in t:
    for item in sub:
        flat += (item,)

print(flat)

(1, 2, 3, 4, 5, 6)

In [79]:
#30.unique element

t = ((1, 2), (2, 3), (4, 5))

unique = set()
for sub in t:
    for item in sub:
        unique.add(item)

print(unique)

{1, 2, 3, 4, 5}