In [1]:
#1. sum product diff
a = 10
b = 20

print("sum:",a+b)
print("diff:",a-b)
print("product:",a*b)

sum: 30
diff: -10
product: 200

In [2]:
#2. Round the float numbers
a = 12.345
b = 7.891

result = a + b

print(f"{result:.2f}")

20.24

In [3]:
#3. string concat
a1 = "pavan"
a2 = "bharadwaj"

cat = a1+" "+a2

print(cat)

pavan bharadwaj

In [4]:
#4.string repetition
a = "pavan"

print(a*5)

pavanpavanpavanpavanpavan

In [5]:
#5.compare integers
a = 5
b = 2

print(a==b)
print(a!=b)
print(a>b)
print(a<b)
print(a>=b)
print(a<=b)

False
True
True
False
True
False

In [6]:
#6. data type printing
a = 1
b = 1.5
c = "pavan"
d = True
f = '2'

print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(f))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>
<class 'str'>

In [9]:
#7.type convertions(str to int,float)
s = "50"
a = int(s)
b = float(s)

print(s,type(s))
print(a,type(a))
print(b,type(b))

50 <class 'str'>
50 <class 'int'>
50.0 <class 'float'>

In [10]:
#8. type convertions(int to str)
a = 25
s = '25'

b = int(s)

print(a+b)

50

In [12]:
#9.complex numbers operations
a = 3+4j
b = 5+4j

print("sum:",a+b)
print("prod:",a-b)
print("diff:",a+b)

sum: (8+8j)
prod: (-2+0j)
diff: (8+8j)

In [16]:
#10. valid names
#valid: data1,_data,data_1,totalSum
#invalid: 1data,data-1,True

In [17]:
#11.Assign using single line
s,f,B = "python",3.14,True

print(s)
print(f)
print(B)

python
3.14
True

In [18]:
#12. swap two in single line
a=10
b=20
print(a," ",b)
a,b = b,a
print(a," ",b)

10   20
20   10

In [19]:
#13. Type printing
a = 10
print(type(a))
a = 1.0
print(type(a))
a = "pavan"
print(type(a))

<class 'int'>
<class 'float'>
<class 'str'>

In [20]:
#14.Circunference of circle
PI = 3.14159
cir = 2*PI*5

print(cir)

31.4159

In [25]:
#15.f string printing
name = "pavan"
age = 22
fav = "salaar"

print(f"My name is {name},I'm {age} years old, My favorite movie is {fav}")

My name is pavan,I'm 22 years old, My favorite movie is salaar

In [26]:
#16. print quotient and remainder
a = 10
b = 3

print("Quotient:",a//b)
print("Remainder:",a%b)

Quotient: 3
Remainder: 1

In [28]:
#17. aumented assignment
a = 10
a += 5
print(a)
a *= 5
print(a)
a -= 5
print(a)
a /= 5
print(a)

15
75
70
14.0

In [30]:
#18 printing string using escape characters
s = "Python's \"syntax\" is very easy"
print(s)

Python's "syntax" is very easy

In [31]:
#19 Arithmetic with bool
print(True + False)  
print(True * False)

1
0

In [33]:
#20 adding int to str
a = "hello"

b = a+5

print(b)
#we can only concat string with another string, cannnot concat with integer or other datatypes

TypeError: can only concatenate str (not "int") to str

In [35]:
#21 large integer type printing
a = 1234567890101234567
print(type(a))

<class 'int'>

In [37]:
#22 same value assignment
a,b,c = 100,100,100
print(a,b,c)

100 100 100

In [40]:
#23 none datatype
a= None
print(type(a))

<class 'NoneType'>

In [42]:
#24 Arithmetic int float
a = 10
b = 3.5

print(type(a+b))

<class 'float'>

In [43]:
#25 slicing string
a = "PythonProgramming"
print(a[0:6])
print(a[6:])

Python
Programming