In [2]:
#1.create dictionary
#(1)
d = {}
n = int(input("enter the number of items"))

for i in range(n):
    key = input()
    value = input()
    d[key] = value

print(d)

enter the number of items3
101
pavan
102 anu
103 pavan
1pedne
few
{'101': 'pavan', '102 anu': '103 pavan', '1pedne': 'few'}
{'x': 3, 'y': 2}

In [3]:
#(2)
x = {'x':1,'y':2,'x':3}
print(x)

{'x': 3, 'y': 2}

In [7]:
#(3)

d = {'fruit': 'apple', 'veg': 'carrot'}

if 'apple' in d.values():
    print("yes")
else:
    print("No")

yes

In [10]:
#(4)
s = "apple"
freq = {}

for char in s:
    freq[char] = freq.get(char, 0) + 1

print(freq)

{'a': 1, 'p': 2, 'l': 1, 'e': 1}

In [19]:
#2.Access Dictionary
#(5)
marks = {'math': 75, 'science': 80}

print(marks['science'])


#(7)
value = marks.get('history')  
if value is None:
    print("Not found")
else:
    print(value)

80
Not found

In [21]:
#(8)
student = {'math': 90, 'english': 88, 'science': 92}

for key,val in student.items():
    print(key,val)

math 90
english 88
science 92

In [22]:
#3.change dictionaries
#(9)
ages = {'Anil': 21, 'Sunita': 20}

ages['Anil'] = 22

print(ages)

{'Anil': 22, 'Sunita': 20}

In [24]:
#(10)
info = {'a': 10, 'b': 20}

info.update({'a': 100, 'b': 100})

print(info)

{'a': 100, 'b': 100}

In [26]:
#(11)
salaries = {'A': 20000, 'B': 30000}

salaries = {k:s*1.1 for k,s in salaries.items()}
print(salaries)

{'A': 22000.0, 'B': 33000.0}

In [28]:
#(12)
salaries = {'A': 20000, 'B': 30000}

salaries['c'] = '25000'
print(salaries)

{'A': 20000, 'B': 30000, 'c': '25000'}

In [29]:
#4.Add dictionary items
#(13)
cities = {'Delhi': 18000000, 'Mumbai': 20000000}
cities['Banglore'] = 12000000

print(cities)

{'Delhi': 18000000, 'Mumbai': 20000000, 'Banglore': 12000000}

In [30]:
#(14)
user = {'name': 'Riya'}

user.setdefault('status', 'active')

print(user)

{'name': 'Riya', 'status': 'active'}

In [32]:
#(15)
lst = ['dog', 'cat', 'rabbit']
d = {k:len(k) for k in lst}
print(d)

{'dog': 3, 'cat': 3, 'rabbit': 6}

In [33]:
#(16)
d1 = {'x': 1}
d2 = {'y': 2}

d1.update(d2)
print(d1)

{'x': 1, 'y': 2}

In [34]:
#5.Remove dictionary items
#(17)
marks = {'math': 80, 'science': 85}

del marks["math"]
print(marks)

{'science': 85}

In [35]:
#(18)

info = {'name': 'Amit', 'city': 'Pune'}

info.pop('name')
print(info)

{'city': 'Pune'}

In [36]:
#(19)

d = {'x': 1, 'y': 2}
d.clear()

print(d)

{}

In [37]:
#(20)
d = {'x': 1, 'y': 2}

if 'z' in d:
    d.pop('z')
    print("Updated dictionary:", d)
else:
    print("Key not found")

Key not found

In [38]:
#6.Loop dictionaries
#(21)
d = {'a': 10, 'b': 20, 'c': 30}
for x in d:
    print(x)

a
b
c

In [40]:
#(22)
d = {'a': 10, 'b': 20, 'c': 30}
for x in d.values():
    print(x)

10
20
30

In [41]:
#(23)
d = {'a': 10, 'b': 20, 'c': 30}
for k,v in d.items():
    print(k,v)

a 10
b 20
c 30

In [42]:
#(24)
scores = {'math': 75, 'science': 55, 'english': 82}
for x in scores:
    if scores[x]>60:
        print(x)

math
english

In [43]:
#7.Copy dictionaries
#(25)
d = {'p': 2, 'q': 3}
d_cpy = d.copy()
print(d_cpy)

{'p': 2, 'q': 3}

In [45]:
#(26)
a = {'x': [1, 2]}
b = a
b['x'] = [2,3]
print(a)
#a changes because both refers to same memory

{'x': [2, 3]}

In [46]:
#(27)
original = {'car': 'red', 'bike': 'blue'}
cpy = original.copy()

cpy['car'] = "green"
print(original)
print(cpy)

{'car': 'red', 'bike': 'blue'}
{'car': 'green', 'bike': 'blue'}

In [48]:
#(28)
import copy

data = {
    "student": "Alice",
    "subjects": ["Math", "Physics"]
}

shallow_copy = data.copy()

deep_copy = copy.deepcopy(data)

print("Original:", data)
print("Shallow:", shallow_copy)
print("Deep:", deep_copy)

data["subjects"].append("Chemistry")

print("\nAfter modifying inner list:")
print("Original:", data)
print("Shallow:", shallow_copy)  
print("Deep:", deep_copy)

Original: {'student': 'Alice', 'subjects': ['Math', 'Physics']}
Shallow: {'student': 'Alice', 'subjects': ['Math', 'Physics']}
Deep: {'student': 'Alice', 'subjects': ['Math', 'Physics']}

After modifying inner list:
Original: {'student': 'Alice', 'subjects': ['Math', 'Physics', 'Chemistry']}
Shallow: {'student': 'Alice', 'subjects': ['Math', 'Physics', 'Chemistry']}
Deep: {'student': 'Alice', 'subjects': ['Math', 'Physics']}

In [60]:
#8. Nested dictionaries
#(29)
students = {
    'Rahul': {'age': 16, 'marks': {'math': 90, 'english': 88}},
    'Simran': {'age': 15, 'marks': {'math': 95, 'english': 92}}
}

#(30)
print(students['Rahul']['marks']['english'])

#(31)
for s,i in students.items():
    print(s,i['marks'])

#(32)
students['Simran']['marks']['science'] = 93

print(students)

88
Rahul {'math': 90, 'english': 88}
Simran {'math': 95, 'english': 92}
{'Rahul': {'age': 16, 'marks': {'math': 90, 'english': 88}}, 'Simran': {'age': 15, 'marks': {'math': 95, 'english': 92, 'science': 93}}}