In [4]:
#1.value checking
a = b = 10
b = 20

print(a,b)
# a value will not change as as a and b are saperate variables

10 20

In [7]:
#2.output checking
x = 2
y = 2.0
z = "2"
w = x + int(z)
v = str(x) + z
print(x,type(x))
print(y,type(y))
print(z,type(z))
print(w,type(w))
print(v,type(v))

2 <class 'int'>
2.0 <class 'float'>
2 <class 'str'>
4 <class 'int'>
22 <class 'str'>

In [9]:
#3. mutable and immutable
"""
Mutable examples:
list
dict
set

Immutable examples:
int
str
tuple
"""

'\nMutable examples:\nlist\ndict\nset\n\nImmutable examples:\nint\nstr\ntuple\n'

In [12]:
#4. list behaviour
x = [1,2,3]
y = x

x[0]=9

print(x)
print(y)
#both x and y change because both x and y are are pointing to same object as y is a copy of x

[9, 2, 3]
[9, 2, 3]

In [17]:
#5.How does Python treat variable names that have the same value but are of different data types?
a = 3
b = 3.0
print(a == b)
print(a is b)

# "==" cheks the value identity but "is" checks whether both pointing to same object or not

True
False

In [19]:
#6.code output
a = (5)
b = (5,)
print(type(a))
print(type(b))
#when we put "," inside paranthesis it is considered as the set.

<class 'int'>
<class 'tuple'>

In [20]:
#7.list as dictionary keys
my_dict = { [1, 2, 3]: "value" }
#as lists are mutable they can be changed at any moment of time. but keys should be uniqe and hashable

TypeError: unhashable type: 'list'

In [22]:
#8.What is the difference between None, 0, False, and "" in Python? Are they the same or different as variables? How does Python treat them in conditional statements?
#every data belongs to different datatype.
#None - NoneType
#0 - int
#False - bool
#"" - string

#in python conditional statements -- All refers to false

In [23]:
#9.promoting int to float
a = 5      
b = 2.0   

result = a + b
print(result)       
print(type(result))

7.0
<class 'float'>

In [24]:
#10.code snippet
a = "5"
b = 5
c = a * b
d = b * a
print(c, d)

55555 55555

In [25]:
#11.Can variable names start with an underscore (_) or contain special characters like $ or @? Explain the rules.
#Yes. variables can start with the _ and canno start woth any special chaacters

In [28]:
#12.What is the difference between single quotes ('), double quotes ("), and triple quotes (''' or """) for strings? Are they the same data type?
'single quotes'	Define a string. Useful when the string contains double quotes inside.
"double quotes"	Define a string. Useful when the string contains single quotes inside.
'''triple quotes''' / """triple quotes"""	Define multi-line strings or docstrings. Can span multiple lines and include both single and double quotes without escaping.

'\n\n'

In [31]:
#13.empty list,set,dict mutability

lst = []
print(type(lst))  
lst.append(1)    

tup = ()
print(type(tup))  
#tup[0] = 1 not allowed     

dct = {}
print(type(dct)) 
dct["a"] = 1      
print(dct)

<class 'list'>
<class 'tuple'>
<class 'dict'>
{'a': 1}

In [33]:
#14.code snippet
x = [1, 2, 3]
y = x
x = [4, 5, 6]
print(y)
#x points to new object but y still points to previous y

[1, 2, 3]

In [34]:
#15. variable example for mutable immutable
a = 10
b = a
a = 20 # 20  10  → b is unaffected because int is immutable

# Mutable example (list)
x = [1, 2, 3]
y = x
x[0] = 9
print(x, y)   # [9, 2, 3]  [9, 2, 3] → both changed because list is mutable

[9, 2, 3] [9, 2, 3]

In [36]:
#16. code snippet
x = 1000
y = 1000
print(x is y)
#false because x and y are pointing to different objects and "is" refers to pointing to same variable

False

In [38]:
#17. type casting
a = "10"
b = int(a)
c = float(b)
ls = [1,2,3,4]
tup = tuple(ls)

print(a,type(a))
print(b,type(b))
print(c,type(c))
print(ls,type(ls))
print(tup,type(tup))

10 <class 'str'>
10 <class 'int'>
10.0 <class 'float'>
[1, 2, 3, 4] <class 'list'>
(1, 2, 3, 4) <class 'tuple'>

In [39]:
#18. code snippet
x = "10"
y = 2
print(x * y)
print(y * x)

1010
1010

In [42]:
#19. type and instance
print(type(5)==int)
print(isinstance(5,int))

True
True

In [43]:
#20 changing datatype
x = 10        
print(x, type(x))  

x = "Hello"  
print(x, type(x))  

x = [1, 2, 3] 
print(x, type(x))

10 <class 'int'>
Hello <class 'str'>
[1, 2, 3] <class 'list'>