In [3]:
#1.tuple input and duplicate removal

t = tuple(map(int,input().split()))
tup = []
seen = set()
for x in t:
    if x not in seen:
        tup.append(x)
    seen.add(x)
    
print(tuple(tup))

1 2 2 3 1 4
(1, 2, 3, 4)

In [12]:
#2.print unique tuples
lst = [(1, 2), (3, 4), (1, 2), (5, 6)]

seen = set()

for x in lst:
    if x in seen:
        lst.remove(x)
    seen.add(x)
    
print(lst)

[(3, 4), (1, 2), (5, 6)]

In [17]:
#3.order sorting
def order_sort(lst,order_ind):
    return sorted(lst,key = lambda x: order_ind[x[0]])

lst = [('b', 2), ('a', 1), ('c', 3)] 
order = ['a', 'b', 'c']

order_ind = {key:i for i,key in enumerate(order)}


print(order_sort(lst,order_ind))

[('a', 1), ('b', 2), ('c', 3)]

In [18]:
#4.sum of tuples row wise

t = ((1, 2, 3), (4, 5, 6), (7, 8, 9))

add = [sum(x) for x in t]

print(add)

[6, 15, 24]

In [20]:
#5.avg of tuples columns wise

t = ((10, 10, 10, 12), (30, 45, 56, 45), (81, 80, 39, 32), (1, 2, 3, 4))
avg = []
rows = len(t)
cols = len(t[0])
for j in range(cols):
    add = 0
    for i in range(rows):
        add+=t[i][j]
    avg.append(add/rows)
    
print(avg)

[30.5, 34.25, 27.0, 23.25]

In [24]:
#6.Flatten the tuple

t = ([1, 2], [3, 4], [5, 6])

t = tuple(x for inner in t for x in inner)

print(tuple(t))

(1, 2, 3, 4, 5, 6)

In [25]:
#7.Convertion to dictionary

t = (('x', 1), ('y', 2), ('z', 3))

dt =  dict(t)

print(dt)

{'x': 1, 'y': 2, 'z': 3}

In [26]:
#8.convert str to tup
s = "python"

tup = tuple(x for x in s)
print(tup)

('p', 'y', 't', 'h', 'o', 'n')

In [31]:
#9.count elements before the tuple

tup = [1,2,3,(4, 5), 6]
count = 0
for x in tup:
    if type(x) is not tuple:
        count+=1
    else:
        break
        
print(count)

3

In [32]:
#10.remove all tuples of none

lst = [(None, None), (1, 2), (None, 3), (4, 5), (None, None)]

result = [t for t in lst if not all(x is None for x in t)]

print(result)

[(1, 2), (None, 3), (4, 5)]